mat-card {
  margin: 2rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  padding: 0.8rem 0;
  border-bottom: 2px solid rgba(45, 45, 45, 0.391);

  & div {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }

  & .dadosContato {
    justify-content: start;
  }

  & .dadosAdicionais {
    align-items: end;
  }
}
