<mat-card>
  <mat-card-header>
    <h1>Ultimas Transações</h1>

  </mat-card-header>

  <mat-card-content>
    <div *ngFor="let transferencia of transferencias">
      <div class="content">
        <div class="dadosContato">
          <h2>transferencia enviada</h2>
          <span>Nome {{transferencia.contatoNome}}</span>
          <span>valor {{transferencia.valor| currency: "BRL"}}</span>
        </div>
        <div class="dadosAdicionais">
          <span>Date {{transferencia.dataTransferencia| date: "dd/MM/YYYY"}}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
